<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.oppohook">

    <application
        android:allowBackup="true"
        android:label="OPPO Token Hook"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name=".TokenDisplayActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/TokenDialogTheme" />

        <!-- LSPosed 模块声明 -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Hook OPPO 商城 App 获取 TOKENSID" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>
</manifest>
